<div class="right">

<div style="text-align: center; font-family: Segoe Print; " >
        <!--h3>If u want policy just click on  policy button</h3-->

        <br>
        <br>
        <br>
        <br>
        <br>

        <a [routerLink]="['/claim']"><h3><b style="color: rgb(42, 29, 226);">Claim Insurance</b></h3></a>
    
        <br>
          <a [routerLink]="['/policy']"><h3><b style="color: rgb(42, 29, 226);">Apply for a policy</b></h3></a>
          <br>
          <a [routerLink]="['/details']"><h3><b style="color: rgb(42, 29, 226);">Back</b></h3></a>
        

          
         
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div> 
        </div>






