<div class="contain">
    <img  src="../../assets/farmer2.jpg" alt="farmer" style="height:600px;width:1000px;" >

    <div class="container2">
        <h1 >Welcome Farmer</h1>
        <br>
        <h2>Select your choice</h2>
        <br>
        <!-- <p>
            <a style="color:#26269c;font-size:25px;" routerLink="/crops">Add Crops</a>
        </p> -->
        <p>
            <a style="color:#26269c;font-size:25px;" routerLink="/cell-request">Place Sell request</a>
        </p>
        <p>
            <a style="color:#26269c;font-size:25px;" routerLink="/histroy">View Sold Crop History</a>
        </p>
        <p>
            <a style="color:#26269c;font-size:25px;" routerLink="/insurance">Insurance</a>
        </p>
        
    </div>
</div>