<!-- <app-route></app-route> -->
<div>
    <br> 
    <br>
    <br>
     <h2 style="text-align:center ;">Contact Us</h2><br/>
     <p>
         <span class="glyphicon glyphicon-map-marker"> &nbsp;
         </span>
         <br> 
         NCUI Auditorium Building, 5th Floor, 3, Siri Institutional Area,
         August Kranti Marg, Hauz Khas,
         New Delhi - 110016.
         <br>
         <br> 
  
     </p>
     <hr>
     <p>
        <br> 
    
         <span class="glyphicon glyphicon-earphone"> &nbsp;</span>
           Help Desk No. : 1800 270 0224
         <br>
         <br> 
    
     </p>
     <hr>
     <p>
        <br> 
   
         <span class="glyphicon glyphicon-earphone">&nbsp;</span>
         Fax : +91-11-26862367
         <br>
         <br> 
    
     </p>
     <hr>
     <p>
        <br> 
    <
         <span class="glyphicon glyphicon-envelope"> &nbsp; </span>
       Email id- farmerhelp@gmail.com , landinsurance@gmail.com
         <br><br/>
         Office Time: 09:30 AM. to 06:00 PM.<br/>
     </p>
     <br> 
   
     <hr>
     </div>