h2{
    font-family: "Times New Roman", Times, serif;
}
th{
    font-family: "Times New Roman", Times, serif;
}
td{
    font-family: "Times New Roman", Times, serif;
}
h3{
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}